* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 16px !important;
  }
}

a {
  text-decoration: none;
  color: #666;
  font-weight: 50;
  cursor: pointer;
}
a:active {
  font-weight: bold;
}

.navbar {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  background-color: rgba(255,255,255,0.9);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.logo {
  background-image: url(../imgs/logo.png);
  background-size: 100% 100%;
  cursor: pointer;
  width: 80px;
  height: 60px;
  margin-left: 30px;
}
.link-list {
  margin-right: 50px;
  line-height: 60px;
}
.container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}