@media only screen and (max-width: 600px) {
  .left-nav {
    position: absolute;
    width: 0 !important;
  }
  .logo {
    display: none;
  }
  .menu-button {
    display: block;
    width: 100px !important;
    line-height: 60px;
    padding-left: 20px;
    cursor: pointer;
  }
  .menu-hidden {
    width: 0 !important;
  }
  .menu-show {
    width: 200px !important;
  }

  .cloak {
    position: fixed;
    left: 0;
    top: 61px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .cloak-show {
    display: block;
  }
  .cloak-hidden {
    display: none;
  }
}

h1, h2, h3, h4 {
  color: #0048ab;
}

span {
  line-height: 1.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.menu-button {
  width: 0;
  overflow: hidden;
}

.left-nav {
  width: 200px;
  height: calc(100vh - 61px);
  font-size: 14px;
  display: flex;
  z-index: 1000;
  background-color: #fdfbfb;
  border-right: 1px solid #ebebeb;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .1s ease-in-out;
}

.nav-list-wrapper {
  width: 200px;
}

.left-nav a {
  padding: 5px 10px;
  text-indent: 1rem;
  display: block;
}
.left-nav a:hover {
  font-weight: bold;
}


.link-title {
  
}
.link-title a {
  font-size: 16px;
  color: #0048ab !important;
}
.link-group {

}
.link-group a {
  text-indent: 2rem;
}
.link-detail a {
  text-indent: 4rem;
}

.content-wrapper {
  padding: 0 1rem;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 61px);
  overflow: auto;
  position: relative;
}

@media only screen and (min-width: 960px) and (max-width: 1600px) {
  .content {
    width: 700px !important;
    margin: 0 auto !important;
  }
}

@media only screen and (min-width: 1600px) {
  .content {
    width: 1000px !important;
    margin: 0 auto !important;
  }
}

.content {
  width: 100%;
}

.content h1 {
  margin: 20px 0;
}
.content h2 {
  margin: 15px 0;
}
.content h3 {
  margin: 10px 0;
}

.block-content {
  margin-bottom: 2rem;
}
.desc-text {
  margin-top: 1rem;
}

.block-indent-1 {
  padding-left: 2rem;
}
.options-dot {
  margin-bottom: 1rem;
}
.options-dot:before {
  content: '● ';
}
.demo-wrapper {
  margin-left: 2rem;
}

pre {
  overflow: hidden;
  padding: 0 !important;
  border-radius: 5px;
  width: 100% !important;
}

code {
  border-left: 2px solid #0048ab;
  border-radius: 0 5px 5px 0;
}
