@media only screen and (min-width: 600px) {
  .tv {
    width: 600px !important;
    height: 400px !important;
  }
  .tv-wrapper {
    height: 500px !important;
  }
}

.high-light {
  outline: none;
  border: 3px solid #e2ebf0;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(25,26,27,20%);
}

/* tv style */
.tv-wrapper {
  height: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.tv {
  box-sizing: border-box;
  position: relative;
  width: 350px;
  height: 230px;
  display: flex;
  flex-direction: column;
  border: 0.3rem solid #777;
  border-bottom: 0.8rem solid #777;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.tv:before {
  content: '';
  position: absolute;
  width: 3px;
  border-radius: 3px;
  border-top: 40px solid #777;
  border-bottom: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  height: 0;
  bottom: -35px;
  left: 10rem;
  transform: rotate(60deg)
}
.tv:after {
  content: '';
  position: absolute;
  width: 3px;
  border-radius: 3px;
  border-top: 40px solid #777;
  border-bottom: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  height: 0;
  bottom: -35px;
  right: 10rem;
  transform: rotate(-60deg)
}
.tv *:focus {
  outline: none;
  border: 3px solid #e2ebf0;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(25,26,27,20%);
} 
.header-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.status-right {
  color: #666;
  width: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.circle {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(25,26,27,20%);
}
.circle.high-light {
  background: #777;
  color: #fff;
  border: 0;
}
.circle:focus {
  background: #777;
  color: #fff;
  border: 0;
}

.block-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  height: 100%;
}
.block {
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block-col {
  flex-direction: column;
}
.block-row {
  flex-direction: row;
}
.block1 {
  width: 32%;
  height: 100%;
  background-color: #f68084;
}
.block2 {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block2-1 {
  height: 65%;
  background: #a6c0fe;
}
.block2-2 {
  height: 32%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.block2-2-1 {
  width: 32%;
  height: 100%;
  background: #8fd3f4;
}
.block2-2-2 {
  width: 32%;
  height: 100%;
  background: #96e6a1;
}
.block2-2-3 {
  width: 32%;
  height: 100%;
  background: #30cfd0;
}

/* remote control style */
.control-wrapper {
  position: fixed;
  bottom: 0;
  left: calc(50vw - 75px);
  width: auto;
}
.remote-control {
  width: 150px;
  height: 240px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.35) 100%),
  radial-gradient(at top center, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.60) 120%) #989898;
  background-blend-mode: multiply,
  multiply;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.power {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: rgb(160, 41, 41);
  text-align: center;
  line-height: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: radial-gradient(at center, rgba(70, 70, 70, 0.2) 0%, rgba(50, 50, 50, 0.3) 100%);
}
.compass {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 60px;
  background: radial-gradient(at center, rgba(0, 0, 0, 0.5) 0%, rgba(155, 155, 155, 0.1) 50%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  color: rgba(188, 188, 188, 0.5);
  position: absolute;
}
.arrow-left {
  left: 5px;
}
.arrow-right {
  right: 5px;
}
.arrow-up {
  top: 5px;
}
.arrow-down {
  bottom: 5px;
}
.enter {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-image:radial-gradient(at center, rgba(155, 155, 155, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%)
  
}
.three-bar {
  width: 90%;
  display: flex;
  color: rgba(188, 188, 188, 0.5);
  flex-direction: row;
  justify-content: space-around;
}
.volume {
  height: 5px;
  width: 100px;
  border-radius: 15px;
}
.dot {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  text-align: center;
  line-height: 35px;
  background-image: radial-gradient(at center, rgba(70, 70, 70, 0.8) 0%, rgba(50, 50, 50, 0.6) 100%);
}

/* content style */
.content-wrapper {
  background-color: #fff;
  /* background-color: #00A388; */
}
.download-wrapper {
  padding: 5vh 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
}
.download-wrapper * {
  text-align: center;
}
.symbol {
  height: 100px;
  margin-top: 2rem;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}
.download-wrapper span {
  font-size: 1.5rem;
  margin: 50px 0 50px;
}
.download-button {
  width: 200px;
  height:80px;
  margin-bottom: 4rem;
  line-height: 80px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid #000;
}
.download-button:hover {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 600px) {
  .content-1 {
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .feature-block {
    display: flex;
    width: 30% !important;
    text-align: center !important;
  }
  .feature-desc {
    height: 150px !important;
  }
}
.content-1 {
  padding-top: 1rem;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.feature-block {
  width: 80%;
  margin: 2rem auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.feature-desc {
  text-align: left;
  display: block;
  height: auto;
}
.feature-block a {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #0048ab;
}

/* nav style */
.nav-dark {
  background-color: #00A388;
  border: 0;
  color: #e8e8e8;
}
.nav-dark a {
  color: #e8e8e8 !important;
}

.nav-light {
  background-color: rgba(255,255,255,0.9);
  color: #666;
}

