{
  "presets": [
    ["env", {
      "modules": false
    }]
  ],
  "env": {
    "dev": {
      "plugins": ["external-helpers"]
    }, 
    "production": {
      "plugins": ["external-helpers"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}